.card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 20px;
    margin-right: 20px; 
    width: 18rem; 
}

.card p, .card h4{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.seguir{
    color: #007bff;
    border: none;
    display: block;
    background-color: transparent;
    margin: auto;
    font-size: 1.1rem;
}

.seguir:hover{
    text-decoration: underline;
}

#cards-container{
    flex-wrap: wrap;
}

@media (max-width: 1200px){
    #cards-container{
        width: 90vw;
    }
}