.card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 20px;
    width: calc(33.33% - 20px); 
    margin-right: 20px;  
}

.seguir{
    color: #007bff;
    border: none;
    display: block;
    background-color: transparent;
    margin: auto;
    font-size: 1.1rem;
}

.seguir:hover{
    text-decoration: underline;
}