.form-pesquisa{
    width: 60%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
}

.container-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}   

.container-input-form{
    display: flex;
    gap: 0.5rem;
}

.btn{
    background-color: #3e66f2;
    color: var(--cor-background);
}

.btn:hover{
    background-color: #2449d1;
    color: var(--cor-background);
}

.container-perfil{
    width: 25rem;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.144);
}

.container-perfil:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container-perfil h5{
    text-align: center;
    margin-bottom: .75rem;
}

.desc-perfil{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.link-para-perfil{
    text-decoration: none;
    color: var(--cor-titulo)
}


@media (max-width: 1000px){
    .form-pesquisa{
        width: 60%;
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 520px){
    .form-pesquisa{
        width: 80%;
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
    }
}