@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-texto: #13182A; 
    --cor-background: #F8FAEC;
    --fonte-header: 'Inter', Arial, Helvetica, sans-serif;
    --fonte-texto: 'Poppins', Arial, Helvetica, sans-serif;
}

.cabecalho{
    color: var(--cor-texto);
    font-family: var(--fonte-header);
}

.logo-texto{
    font-weight: bolder;
    font-style: italic;
    width: 78px;
}

.nav-item{
    color: var(--cor-texto);
    text-decoration: none;
    font-weight: 500;
}

.selecionado{
    color: #3e66f2;
}

.nav-item:hover{
    color: #3e66f2;
}

.entrar{
    width: 132px;
    height: 45px;
    background-color: var(--cor-background);
    font-weight: bolder;
    border-radius: 5px;
    transition: 0.5s;
}

main{
    width: 100%;
    height: 100%;
}

.form-cadastro-vagas{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 60% !important;
    margin-bottom: 12px;
}

.entrar:hover{
    color: var(--cor-background);
    background-image: linear-gradient(43deg, #1232A4 0%, #8D4CF9 100%);
}

.container-input-form{
    width: 90%;
}

.btn-cria-vaga{
    width: 90%;
}

input{
    border-radius: 4px;
    border: 1px solid black;
}

label{
    font-weight: 500;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: #3e66f2;
    color: white;
    width: 100vh;
    height: 6vh;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 550px){
    .form-cadastro-vagas{
        width: 90% !important;
    }
}

@media (max-width: 1190px){
    .footer{
        margin-top: 24px;
        position: relative;
    }
}